input[type=submit], button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}
label{
	font-size: 1.25em;
}
button:hover {
	opacity: 0.7;
}

select, textarea {
	width: 95%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	font-size: 20px;
	margin-bottom: 16px;
	resize: vertical;
}

.rate-area {
	border-style: none;
}

input[type=number], input[type=text] {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit]:hover {
	opacity: 0.7;
}