<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="ProductPage.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>Product Title</title>
</head>
<body>
	<div class="information" align="center" style="margin-top: 3%; max-width:500px; margin-left:34%">
		<h1>Product Title</h1>
		<img alt="" src="../WebContent/images/heroImg.jpg" style="margin:15px 0 15px 0;height: 450px; width: 400px;">
		<h4 style="margin-bottom: 15px">Description:  Some text about the jeans. Super slim and comfy lorem ipsum
							lorem jeansum. Lorem jeamsun denim lorem jeansum.</h4>
		<h4 style="margin-bottom: 15px">Price:</h4>
		<h4 style="margin-bottom: 15px">Quantity</h4>
		 <button>Add to Cart</button>
	</div>
	
	<div class="review" align="center" style="margin-top: 8%; max-width:700px; margin-left:27%">
		<form action="" method="get">
			<DIV class="header">
				<H3 class="headers">Product Rating</H3>
			</DIV>
			<div>
				<label for="rate" >Numerical rating</label>
				<input type="number"  min="1" max="5" name = "rate" placeholder="Enter a number between 1 and 5" required>
			</div>
			<DIV class="textInput">
				<label for="comment">A brief description</label>
				<textarea rows="5" cols="100" onkeyup="" name="comment" id="comment"
					placeholder="Enter some text here"></textarea>
				<br /> <input type="submit" onclick="" name="submit" value="Submit" />
			</DIV>
		</form>
	</div>
</body>
</html>
